# PostgreSQL Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=recipes

# Web Application Login Credentials
DEFAULT_USER_EMAIL=demo@demo.com
DEFAULT_USER_PASSWORD=demo123

# Tailscale (Required if using prod profile)
TS_AUTHKEY=

# Email / SMTP Configuration (Optional)
SMTP_SERVER=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
FROM_EMAIL=
